/* basic css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  background-color: #f0f0f0;
}

main {
  margin-left: 232px;
}

/* costums css */
.d-none {
  display: none !important;
}
.flex {
  display: flex;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
