/* basic css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  font-family: 'Inter';
  font-size: 16px; /* 1rem */
  line-height: 1.2; /* oder 120% */
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(246, 247, 248);
}

h1 {
  font-size: var(--fs-61-47);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-27);
}
h5{
  font-size: var(--fs-20);
  font-weight: var(--fw-700);
}

main {
  margin-left: 232px;
} 

/* costums css */
.responsive-main {
  padding: min(24px, max(1.5rem, 5vw));
  p {
    margin: 8px 0 16px;
  }
  @media (max-width: 900px) {
      margin: 0;
  }
}
.d-none {
  display: none !important; 
}
.flex {
  display: flex;
}
.just-center {
  justify-content: center;
}
.just-space-b {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.btn-login {
  height: 48px;
  width: 110px;
  padding: 15px 24px;
  border-radius: 8px;   /* var(--border-radius);  --border-radius: 8px; */
  cursor: pointer;
  border: none;
  font-size: var(--fs-20-16);
  font-weight: var(--fw-700);
  background-color: var(--clr-primary);
  color: var(--clr-white);
  @media (max-width: 900px){
    height: 51px;
    width: 180px;
    padding: 4px 0;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 24px;
  overflow-y: auto 53px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #FFFFFF;
}

.custom-scrollbar::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 10px; 
  background-position: center;
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button:vertical:start:increment {
  height: 24px;
  background-image: url('/assets/icons/scrollbar-btn-up.svg');
  background-position: bottom;
}

.custom-scrollbar::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-button:vertical:end:increment {
  height: 24px;
  background-image: url('/assets/icons/scrollbar-btn-down.svg');
  background-position: top;
}

.custom-scrollbar::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border: 8px solid #FFFFFF;
  border-radius: 30px;
  background: #D9D9D9;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D1D1D1;
}

/* for addTasks and board */
.profile-badge {
  border: 2px solid #FFFFFF;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF7A00;
  color: #FFFFFF;
  font-size: 12px !important;
}

/* for contacts and board */
.overlay-close {
  align-self: flex-end;
}

.overlay-close:hover {
  cursor: pointer;
  border-radius: 56px;
  background-color: #D9D9D9;
}

.messages {
  height: 0;
  width: 0;
}

.succesfull-msg {
  width: 326px;
  height: 74px;
  border-radius: 20px;
  position: relative;
  top: -300px;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2A3647;
  box-shadow: 0px 0px 4px 0px #00000026;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* This is added to the success-messages, when create/edit/delete was succesfully*/
@keyframes msgSuccesfull {
  0%   {top: -300px; right: -100%;}
  25%  {top: -300px; right: -800px;}
  75%  {top: -300px; right: -800px;}
  100% {top: -300px; right: -100%;}
}

/** This class is added, when input requirement is unfulfilled**/
.requirement-unfulfilled {
  outline: 1px solid #FF8190;
}

.blue-btn {
  background: var(--button-bg);
  color: white;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.blue-btn:hover {
  background-color: var(--Light-Blue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.white-btn {
  background: white;
  color: var(--button-bg);
  border: 1px solid var(--button-bg);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.white-btn:hover {
  border: 1px solid #29ABE2;
  color: #29ABE2;
  /* box-shadow: 0px 4px 4px 0px #00000040; 
  cursor: pointer;*/
}

.submenu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}