main {
    @media (max-width: 990px) {
        margin: 0 16px;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 900px) {
        margin-bottom: 110px;
    }
}

label { 
    max-width: 440px;
    font-size: var(--fs-20-16);
    line-height: 24px;
    color: var(--clr-primary);
    @media (max-width: 990px) {
        max-width: 396px;
        margin-bottom: 4px;
    }
}  

textarea { 
    height: 120px;
    max-width: 440px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    color: var(--clr-primary);
    font-family: Inter;
    font-size: var(--fs-20-16);
    font-weight: var(--fw-400);
    line-height: 24px;
    resize: none;
    @media (max-width: 990px) {
        max-width: 396px;
        padding: 18px 21px;
    }
}

textarea::-webkit-resizer {
    height: 19px;
    width: 19px;
    position: relative;
    background-image: url("/assets/icons/textarea-resizer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid transparent;
}

textarea::-webkit-scrollbar {
    width: 24px;
    overflow-y: auto;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    border: 8px solid #FFFFFF;
    border-radius: 30px;
    background: #A8A8A8;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #D1D1D1;
}

input,
select {
    height: 48px;
    max-width: 440px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    color: var(--clr-primary);
    font-size: var(--fs-20-16);
    cursor: pointer;
    @media (max-width: 990px) {
        max-width: 396px;
        padding: 8px 21px;
    }
}

input:disabled,
select:disabled {
    background-color: var(--clr-white);
}

input::placeholder,
textarea::placeholder,
#addTaskDate::-webkit-datetime-edit {
    color: #D1D1D1;
    font-size: var(--fs-20-16);
    font-weight: var(--fw-400);
    line-height: 24px;
}

textarea:focus,
input:focus,
select:focus {
    outline: 1px solid #29ABE2;
    border: 1px solid transparent;
}

select {
    height: 48px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #FFFFFF;
    z-index: 2;
    cursor: pointer;
}

.add-task-select-menu {
    background-image: url("/assets/icons/add-task-dropdown-down.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.add-task-select-menu:focus {
    background-image: url("/assets/icons/add-task-dropdown-up.svg");
}

.required-star {
    position: relative;
    bottom: 2px;
    right: 4px;
    color: #FF8090;
    font-weight: var(--fw-400);
    line-height: 19.2px;
}

.title {
    margin-top: 110px;
    margin-right: 32px;
    margin-left: 96px;
    font-weight: var(--fw-700);
    font-size: var(--fs-61-47);
    line-height: 73.2px;
    @media (max-width: 1330px) {
        margin-left: 24px;
    };
    @media (max-width: 990px) {
        width: 396px;
        margin-left: 256px;
        margin-top: 48px;
        align-self: center;
    }
    @media (max-width: 900px) {
        margin-left: 24px;
    }
    @media (max-width: 440px) {
        width: 280px;
    }
}

#addTaskForm {
    margin-top: 48px;
    margin-left: 72px;
    @media (max-width: 1330px) {
        margin-left: 0;
    };
    @media (max-width: 990px) {
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        margin-left: 232px;
    }
    @media (max-width: 900px) {
        margin: 0;
        margin-top: 32px;
    }
}

.add-task-form-column {
    flex-direction: column;
    width: 440px;
    margin: 0 24px;
    @media (max-width: 1330px) {
        width: 380px;
    };
    @media (max-width: 1110px) {
        width: 320px;
    };
    @media (max-width: 990px) {
        width: 396px;
    }
    @media (max-width: 440px) {
        margin: 0;
        width: 280px;
    }
}

#addTaskAssignedTo,
#addTaskSubtask {
    margin-bottom: 0;
}

#addTaskAssignedTo,
#addTaskDate,
#addTaskCategory {
    cursor: pointer;
}

#addTaskAssignedTo:focus,
#addTaskDate:focus {
    cursor: text;
}

#addTaskAssignedTo,
#addTaskCategory {
    z-index: 1;
}

#addTaskAssignedTo::placeholder,
#addTaskCategory::placeholder {
    color: var(--clr-black);
}

#addTaskAssignedTo:focus::placeholder {
    visibility: hidden;
}

.add-task-dropdown {
    max-height: 290px;
    width: 440px; 
    padding-top: 10px;
    margin: 0 !important;
    position: absolute;
    border-radius: 10px;
    background-color: var(--clr-white);
    z-index: 2;
    box-shadow: 0px 0px 14px 3px #0000000A;
    font-weight: var(--fw-400);
    font-size: var(--fs-20-16);
    line-height: 24px;
    flex-direction: column;
    @media (max-width: 1330px) {
        width: 380px;
    };
    @media (max-width: 1110px) {
        width: 320px;
        box-shadow: none;
    };
    @media (max-width: 990px) {
        width: 396px;
    };
    @media (max-width: 900px) {
        width: 396px;
    };
    @media (max-width: 440px) {
        width: 280px;
    }
}

.add-task-current-select {
    z-index: 3 !important;
}

#addTaskDropdownContacts {
    top: 656px;
    overflow-y: scroll;
    @media (max-width: 990px) {
        top: 591px;
    }
    @media (max-width: 900px) {
        top: 575px;
    }
}

#addTaskDropdownCategories {
    top: 595px;
    @media (max-width: 990px) {
        top: 897px;
    }
    @media (max-width: 900px) {
        top: 881px;
    }
}

.add-task-dropdown-option {
    height: 56px;
    width: 100%;
    padding: 7px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.add-task-dropdown-option:hover {
    background-color: #EEEEEE;
}

.add-task-dropdown-option div {
    gap: 16px;
    font-weight: var(--fw-400);
    font-size: var(--fs-20-16);
    line-height: 24px;
}

.profile-badge {
    height: 42px;
    width: 42px;
}

.add-task-assigned-to-checkbox {
    height: 24px;
    width: 24px;
    background-image: url("/assets/icons/checkbox-icon-unchecked.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.option-contact-assigned {
    background-color: var(--clr-primary);
    color: var(--clr-white);;
}

.option-contact-assigned:hover {
    background-color: var(--clr-click);;
}

.checkbox-contact-assigned {
    background-image: url("/assets/icons/checkbox-icon-checked-light.svg");
}

#addTaskAssignedToList {
    height: fit-content;
    width: 440px;
    margin-top: 8px;
    flex-direction: row !important;
    gap: 8px;
    flex-wrap: wrap;
    @media (max-width: 990px) {
        margin-bottom: 20px;
    }
}

#addTaskAssignedToList div {
    cursor: pointer;
    margin: 0;
}

.add-task-seperator {
    height: 424px;
    width: 2px;
    border-radius: 1px;
    background-color: #D1D1D1;
    @media (max-width: 990px) {
        display: none !important;
    }
}

#addTaskDate::-webkit-calendar-picker-indicator {
    background-image: url("/assets/icons/add-task-calendar.svg");
}

#addTaskPriorities {
    margin-top: 8px;
    margin-bottom: 20px;
    max-width: 440px;
}

#addTaskPriorities div {
    height: 56px;
    width: 136px;
    margin: 0;
    padding: 16px 10px;
    border: none;
    border-radius: 10px;
    gap: 8px;
    background-color: var(--clr-white);;
    box-shadow: 0px 0px 4px 0px #0000001A;
    font-weight: var(--fw-400);
    font-size: var(--fs-20-16);
    line-height: 24px;
    @media (max-width: 1330px) {
        height: 41px;
        width: 121px;
    }
    @media (max-width: 440px) {
        padding: 4px 4px;
        gap: 4px;
    }
}

#addTaskPriorities div:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.subtask-icon {
    height: 24px;
    width: 24px;
    border-radius: 50px;
}

.subtask-icon:hover {
    background-color: #EEEEEE;
    transform: scale(110%);
    cursor: pointer;
}

#subtaskIconAdd {
    position: relative;
    bottom: 36px;
    left: 405px;
    @media (max-width: 1330px) {
        left: 345px;
    };
    @media (max-width: 1110px) {
        left: 285px;
    };
    @media (max-width: 990px) {
        left: 365px;
    }
    @media (max-width: 440px) {
        left: 250px;
    }
}

#subtaskIconsFocus {
    flex-direction: row !important;
    gap: 6px;
    position: relative;
    bottom: 36px;
    left: 377px;
    @media (max-width: 1330px) {
        left: 314px;
    };
    @media (max-width: 1110px) {
        left: 259px;
    };
    @media (max-width: 990px) {
        left: 334px;
    }
    @media (max-width: 440px) {
        left: 219px;
    }
}

.subtask-scrollbar {
    height: 160px;
    width: 440px;
    margin-top: -16px;
    overflow-y: scroll;
    @media (max-width: 1330px) {
        height: fit-content;
        max-height: 160px;
    }
}

.subtask-scrollbar::-webkit-scrollbar {
    display: none;
}

#addTaskSubtaskList {
    flex-direction: column-reverse;
    justify-content: start;
}

.subtask {
    width: 100%;
    margin-bottom: 6px;
    padding: 6px 16px;
    line-height: 24px;
    border-radius: 10px;
    list-style-position: inside;
    word-break: break-all;
    cursor: pointer;
    @media (max-width: 1330px) {
        width: 380px;
    };
    @media (max-width: 1110px) {
        width: 320px;
        box-shadow: none;
    };
    @media (max-width: 990px) {
        width: 396px;
        padding: 4px 16px;
    };
    @media (max-width: 900px) {
        width: 396px;
    };
    @media (max-width: 440px) {
        width: 280px;
    }
}

.subtask:hover {
    background-color: #D1D1D1;
}

.subtask-list-icons {
    display: none !important;
}

.subtask-edit-icons {
    display: flex;
    flex-direction: row !important;
}

.subtask:hover .subtask-list-icons {
    display: flex !important;
    flex-direction: row !important;
}

.subtask-list-icons-seperator {
    height: 24px;
    width: 1px;
    margin: 0 3px 0 3px;
    background-color: var(--clr-lightGray);
}

.subtask-edit {
    height: 32px;
    width: 100%;
    padding: 0;
    background-color: var(--clr-white);
    border-bottom: solid 1px #29ABE2;
    border-radius: 0;
    z-index: 2;
    @media (max-width: 1330px) {
        width: 380px;
    };
    @media (max-width: 1110px) {
        width: 320px;
        box-shadow: none;
    };
    @media (max-width: 990px) {
        width: 396px;
        padding: 4px 0 4px 16px;
    };
    @media (max-width: 900px) {
        width: 396px;
    };
    @media (max-width: 440px) {
        width: 280px;
    }
}

.subtask-edit:hover {
    background-color: var(--clr-white);
}

#subtaskEditInput {
    height: 100%;
    margin: 0;
    padding: 4px 16px;
    border: none;
}

#subtaskEditInput:focus {
    outline: none;
}

.add-task-submit {
    margin-left: 96px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
        width: 100%;
        max-width: 396px;
        margin-left: 232px;
        margin-bottom: 20px;
        flex-direction: column;
        align-self: center;
    }
    @media (max-width: 900px) {
        margin-left: 0;
    }
    @media (max-width: 440px) {
        width: 280px;
    }
}

.add-task-requirements {
    margin-top: 37px;
    display: flex;
    @media (max-width: 990px) {
        margin-top: 12px;
    }
}

.add-task-requirements p {
    margin-left: -3px;
}

.submit-btns {
    display: flex;
    gap: 16px;
    margin-right: 24px;
    @media (max-width: 990px) {
        width: 100%;
        margin-top: 40px;
        justify-content: flex-end;
    }
}

.submit-btns button {
    height: 56px;
    padding: 16px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    @media (max-width: 440px) {
        padding: 6px;
        gap: 2px;
    }
}

.cancel-btn {
    background-color: transparent;
    font-weight: var(--fw-400);
    font-size: var(--fs-20);
    line-height: 24px;
}

.cancel-img {
    height: 24px;
    width: 24px;
    background-image: url("/assets/icons/cancel-btn.svg");
}

.cancel-btn:hover {
    border: 2px solid #29ABE2;
    color: var(--clr-lightBlue);
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.cancel-btn:hover .cancel-img {
    background-image: url("/assets/icons/cancel-btn-hover.svg");
}

.create-btn {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-weight: var(--fw-700);
    font-size: 21px;
    line-height: 25.2px;
}

.create-btn:hover {
    border: 1px solid #29ABE2;
    background-color: var(--clr-lightBlue);
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

/** Those 3 classes are added, when button is clicked **/
.prioUrgentClicked {
    background-color: var(--urgent-clr) !important;
    box-shadow: none !important;
    color: var(--clr-white);
}

.prioMediumClicked {
    background-color: var(--medium-clr) !important;
    box-shadow: none !important;
    color: var(--clr-white);
}

.prioLowClicked {
    background-color: var(--low-clr) !important;
    box-shadow: none !important;
    color: var(--clr-white);
}

#addTaskOverlayBg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}