#userFeedbackOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: right 0.5s ease-in-out;
    padding: 20px;
}

.feedback-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: 769px;
    background: white;
    border-radius: 16px 0 0 16px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Inter', sans-serif;
    line-height: 1.05;
    display: flex;
    flex-direction: column;
    transition: right 0.5s ease-in-out;
}

.feedback-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.feedback-hidden {
    /* flex-grow: 1;
    display: none;
    flex-direction: column;
    gap: 15px; */
    display: none;
}

.feedback-badge {
    background: #0038FF;
    color: white;
    padding: 4px 24px;
    border-radius: 8px;
    font-size: 23px;
    width: 164px;
    height: 36px;
}

.feedback-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
}

.feedback-info {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
}

.feedback-priority {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0 8px;
}

.feedback-users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 16px;
}

.feedback-user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.feedback-user-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
}

.feedback-subtasks {
    display: flex;
    flex-direction: column;
}

.feedback-subtask-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding: 6px 16px;
    border-radius: 3px;
    margin-left: 4px;
}

.feedback-subtask-item input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: red;
    cursor: pointer;
    border: 2px solid #2A3647;
    border-radius: 3px;
}

.feedback-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 24px;
    right: 28px;
}

.feedback-delete-btn {
    border-right: 1px solid #2A3647;
}

.feedback-delete-btn, 
.feedback-edit-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #2A3647;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
}

.feedback-delete-btn:hover, 
.feedback-edit-btn:hover {
    color: #29ABE2;
    transform: scale(1.1);
}

.feedback-delete-btn:focus, 
.feedback-edit-btn:focus,
.feedback-delete-btn:active, 
.feedback-edit-btn:active {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
}


.feedback-delete-btn:hover img, .feedback-edit-btn:hover img {
    filter: brightness(0) saturate(100%) invert(62%) sepia(66%) saturate(429%) hue-rotate(161deg) brightness(93%) contrast(90%);
}

.feedback-task-added-overlay {
    width: 326px;
    height: 74px;
    position: fixed;
    bottom: 400px;
    right: 20px;
    background: #2A3647;
    color: white;
    padding: 12px 24px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.feedback-task-added-overlay img {
    width: 30px;
    height: 30px;
}
