:root {
  --border-radius: 8px;
  --border-radius-task: 24px;
  --task-padding: 16px;
  --gap-size-input: 32px;
  --gap-size-task: 20px;
  --header-padding: 16px;
  --input-radius: 8px;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--clr-white);
  overflow-x: hidden !important;
  overflow-y: auto;
}

body::-webkit-scrollbar,
.task-container::-webkit-scrollbar {
  display: none;
}

main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto !important;
  max-width: 100% !important;
}

h1 {
  font-size: var(--fs-61-47);
  padding: var(--header-padding);
}

h2 {
  font-size: var(--fs-20);
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
  margin-right: 135px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 504px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-white);
  border: 1px solid var(--clr-lighterGray);
  border-radius: var(--input-radius);
  width: 312px;
  height: 48px;
  margin: 0;
}

.search-container input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: var(--fs-20);
  background: transparent;
  margin: 0 !important;
  padding: 8px 0 8px 16px;
  width: 232px;
}

.search-input-icons {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
}

.search-container-seperator {
  height: 32px;
  width: 2px;
  background-color: #ccc;
}

.search-icon {
  width: 17.58px;
  height: 17.58px;
}

.search-icon:hover {
  background: rgba(74, 74, 74, 0.1);
  cursor: pointer;
  border-radius: 50%;
}

button {
  background: var(--clr-primary);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: var(--input-radius);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: var(--fw-700);
  cursor: pointer;
}

button img {
  width: 13.67px;
  height: 13.67px;
}

.button:hover {
  background-color: var(--clr-lightBlue);
}

.task-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 1;
  padding: var(--header-padding);
  gap: var(--gap-size-task);
  overflow-x: auto;
}

.task-wrapper {
  height: 100%;
  padding: var(--task-padding);
  flex: 1;
  width: 246px;
}

.task-headline {
  font-weight: var(--fw-700);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  position: relative;
  z-index: 1;
}

.icon-container img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  padding: 3px;
}

.icon-container:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(66%) saturate(429%) hue-rotate(161deg) brightness(93%) contrast(90%);

}

.no-task-message-container {
  max-width: 300px;
  text-align: center;
  color: #a8a8a8;
  opacity: 0.8;
  border: 1px dotted #A8A8A8;
  border-radius: 8px;
  padding: 8px;
  background-color: #e7e7e7;
}

.board-tasks-list {
  height: 100%;
  width: 252px;
  padding-bottom: 24px;
}

.margin {
  margin-top: 15px;
}

.task-card {
  background: var(--clr-white);
  border-radius: var(--border-radius-task);
  box-shadow: var(--shadow-nuevo);
  padding: var(--task-padding);
  margin-top: 16px;
  max-height: 263px;
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.task-card:hover {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(5deg);
  cursor: pointer;
}

.task-badge {
  height: 27px;
  width: fit-content;
  color: white;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: var(--fw-400);
}

.category-bug-fix {
  background: var(--clr-tatjana);
}

.category-documentation {
  background: var(--clr-eva);
}

.category-technical-task {
  background: var(--clr-emanuel);
}

.category-user-story {
  background: var(--bg-blue);
}

.task-title {
  font-weight: var(--fw-700);
  font-size: 16px;
}

.task-description {
  max-height: 38px;
  font-size: 16px;
  color: var(--clr-lightGray);
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.task-progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-progress span {
  font-size: var(--fs-12);
  white-space: nowrap;
}

.progress-bar {
  width: 128px;
  height: 8px;
  background: var(--clr-lighterGray);
  border-radius: 5px;
}

.progress-bar-fill {
  height: 100%;
  background: var(--clr-lightBlue);
  border-radius: 5px;
}

.task-assignees {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.profile-badge-small {
  height: 32px !important;
  width: 32px !important;
  margin-left: -10px;
}

.assigned-contacts-and-priority {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
}

.assigned-contacts-and-priority img {
  width: 17px;
}

.todo-wrapper .task-card {
  margin-top: 10px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.animation-open-overlay {
  animation: openOverlay;
}

@keyframes openOverlay {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0);
  }
}

.animation-close-overlay {
  animation: closeOverlay;
}

@keyframes closeOverlay {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(150%);

  }
}

.overlay-active {
  z-index: 3;
}

.overlay-inactive {
  opacity: 0;
  z-index: 3;
  animation: closeOverlay 10s ease-in-out forwards;
}

#boardOverlayBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 5;
}

#addTaskOverlay {
  height: 870px;
  width: 1116px;
  border-radius: 30px;
  background: var(--clr-white);
  z-index: 6;
  position: fixed;
  align-self: anchor-center;
  justify-self: anchor-center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#addTaskOverlay::-webkit-scrollbar {
  display: none !important;
}

#animation {
  animation: openOverlay 0.8s ease-in-out forwards;
}

#editTaskOverlay {
  animation: none;
}

#addTaskOverlay .title {
  margin-top: 64px;
  margin-right: 32px;
  margin-left: 74px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#addTaskOverlay #addTaskForm {
  flex: 1;
}

#addTaskOverlay #addTaskForm,
#addTaskOverlay .add-task-submit {
  margin-left: 74px;
  margin-right: 98px;
  overflow: hidden;
}

#addTaskOverlay .overlay-close {
  align-self: baseline;
}

#addTaskOverlay #addTaskAssignedTo {
  z-index: 4 !important;
}

#addTaskOverlay #addTaskDropdownContacts {
  z-index: 3;
}

#addTaskOverlay #addTaskAssignedToList {
  margin-left: 10px;
  z-index: 2;
}

#addTaskOverlay .add-task-submit {
  margin-bottom: 64px;
}

#addTaskOverlay .add-task-requirements {
  margin-left: 4px;
}

#addTaskOverlay #addTaskSubmitBtns {
  margin-right: 0;
}

#addTaskOverlay #addTaskCancel {
  background-color: var(--clr-white);
  color: var(--clr-primary)
}

#overviewOverlay,
.edit-task-overlay {
  width: clamp(320px, 80vw, 600px) !important;
  position: fixed;
  align-self: anchor-center;
  justify-self: anchor-center;
  display: flex;
  flex-direction: column !important;
  background-color: var(--clr-white);
  border-radius: 30px;
  box-shadow: var(--shadow-barrasuperior);
  z-index: 5;
  padding: 48px 40px !important;
  gap: 16px !important;
}

#overviewOverlay {
  animation: openOverlay 0.8s ease-in-out forwards;
}

.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.overview-task-badge {
  height: 36px;
  width: fit-content;
  color: white;
  padding: 4px 20px;
  border-radius: 8px;
  font-size: 23px;
  font-weight: var(--fw-400);
}

#overviewOverlay h1 {
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overview-task-description {
  font-size: 20px;
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.overview-info {
  display: flex;
  font-weight: var(--fw-400);
  font-size: 20px;
  color: #42526E;
  gap: 25px;
}

.overview-info span {
  width: 93px;
}

.overview-info p,
.overview-contact-assigned {
  color: var(--clr-black);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: var(--fw-400);
  font-size: 20px;
}

.overview-contacts,
.overview-subtasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -8px;
  cursor: pointer;
}

.overview-contact-assigned,
.overview-subtasks-assigned {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 16px !important;
  width: fit-content;
  padding: 2px 8px;
}

.overview-subtasks-assigned:hover {
  background-color: #D9D9D9;
  border-radius: 43px;
}

.board-overview-checkbox {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.checkbox-completed-true {
  background-image: url("../assets/icons/checkbox-icon-checked-dark.svg");
}

.checkbox-completed-false {
  background-image: url("../assets/icons/checkbox-icon-unchecked.svg");
}

.overview-btns {
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.overview-btns button {
  height: 100%;
  background-color: transparent;
  color: var(--clr-primary);
  gap: 8px;
  font-weight: var(--fw-400);
  display: flex;
  align-items: center;
}

.overview-btns button div {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.overview-task-delete {
  background-image: url("../assets/icons/delete.svg");
}

.overview-task-edit {
  background-image: url("../assets/icons/edit.svg");
}

.overview-btns button:hover {
  color: var(--clr-lightBlue);
}

.overview-btns button:hover .overview-task-delete {
  background-image: url("../assets/icons/delete-hover.svg");
}

.overview-btns button:hover .overview-task-edit {
  background-image: url("../assets/icons/edit-hover.svg");
}

.overview-btns-seperator {
  height: 100%;
  width: 1px;
  background-color: #D1D1D1;
}

.edit-task-overlay {
  height: fit-content;
  max-height: 800px;
  align-items: center;
  padding: 48px 40px 30px 40px !important;
}

.edit-task-overlay .title {
  width: 100%;
  margin: 0 !important;
  justify-content: flex-end !important;
}

.edit-task-overlay #addTaskForm {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 40px !important;
  flex: 1;
}

.edit-task-overlay #addTaskAssignedToList {
  display: flex;
  flex-direction: row !important;
}

.edit-task-overlay .add-task-submit {
  height: fit-content !important;
  width: 100%;
  margin: 0 !important;
}

.edit-task-overlay #addTaskSubmitBtns {
  width: 100%;
  margin: 0;
  justify-content: flex-end;
}

.edit-task-overlay .submit-btns button {
  width: 89px;
  gap: 4px;
  font-size: 21px;
}

.edit-task-overlay .submit-btns img {
  height: 24px;
  width: 24px;

}

.edit-task-overlay .subtask-scrollbar {
  height: fit-content;
  max-height: 160px;
}

.edit-task-overlay #addTaskDropdownContacts {
  top: 426px !important;
}

.edit-task-overlay #addTaskDropdownCategories {
  top: 502px !important;
}

.edit-task-overlay .add-task-seperator,
.edit-task-overlay .add-task-requirements,
.edit-task-overlay .submit-btns .cancel-btn,
.edit-task-overlay .submit-btns .create-btn {
  display: none !important;
}

#noResultSearchInput {
  position: fixed;
  top: 450px;
  align-self: center;
  margin-left: 232px;
  border: 1px dotted #A8A8A8;
  background-color: #e7e7e7;
  color: #a8a8a8;
  opacity: 1;
  transform: scale(1.4)
}