@media (max-width: 1428px) {
    .board-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 9.1px;
    }

    .input-container {
        width: auto;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        gap: 14px;
    }

    #overviewOverlay {
        width: 70vw;
    }
}

@media (max-width: 1366px) {
    .board-header {
        margin-right: 24px;
    }

    .task-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .task-wrapper {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        flex: 0 0 auto;
        height: 345px;
    }

    .board-tasks-list {
        display: flex;
        gap: 12px;
        justify-content: flex-start;
    }

    #editTaskOverlay,
    #overviewOverlay {
        width: 60%;
    }

    .task-headline {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    .task-headline .icon-container {
        min-width: 36px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-card {
        width: 250px;
        flex: 0 0 auto;
    }

    #overviewOverlay {
        width: 75vw;
    }
}

@media (max-width: 1330px) {
    .edit-task-overlay {
        #addTaskForm {
            width: 512px;
            align-items: center;
            padding-left: 24px;
        }

        .add-task-form-column {
            width: 464px;
            margin: 0;
        }

        .add-task-dropdown {
            width: 440px !important;
        }

        .add-task-submit {
            width: 100%;
        }

        .add-task-submit button {
            margin: 0 56px;
        }
    }
}

@media (max-width: 1160px) {
    #addTaskOverlay {
        height: 700px;
        width: fit-content;

        #addTaskH1 {
            margin: 30px 30px 0 30px;
        }

        #addTaskForm {
            width: 740px;
            margin: 24px 24px 0 0;
        }

        .add-task-form-column {
            flex: 1;
            margin: 0;
            padding: 0 24px;
            align-items: center;
        }

        .add-task-seperator {
            height: 365px;
            padding: 0 1px;
        }

        label,
        input,
        textarea,
        .add-task-dropdown,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask {
            width: 100%;
        }

        #addTaskDropdownContacts {
            min-height: 168px;
        }

        .subtask-scrollbar {
            max-height: 90px;
        }

        #subtaskEditInput {
            width: 100%;
        }

        .add-task-submit {
            width: 716px;
            margin: 0 24px;
            position: fixed;
            bottom: 128px;
            justify-content: space-between;
        }
    }

    .edit-task-overlay {
        max-width: 500px;

        #addTaskForm {
            width: 100% !important;
        }

        label,
        input,
        textarea,
        .add-task-form-column,
        .add-task-dropdown,
        #addTaskAssignedToList,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask {
            width: 372px !important;
        }

        .add-task-submit button {
            margin: 0 20px;
        }
    }
}

@media (max-width: 1000px) {
    .edit-task-overlay {
        max-width: 500px;

        #addTaskForm {
            width: 100% !important;
        }

        label,
        input,
        textarea,
        .add-task-form-column,
        .add-task-dropdown,
        #addTaskAssignedToList,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask {
            width: 372px !important;
        }
    }
}

@media (max-width: 990px) {
    main {
        margin-left: 232px;
    }

    button h2 {
        display: none;
    }

    button img {
        width: 20px;
        height: 20px;
    }

    .button {
        padding: 13.5px;
    }

    #addTaskOverlay {
        width: 620px;

        #addTaskOverlayContent {
            overflow-y: scroll;
        }

        #addTaskOverlayContent::-webkit-scrollbar {
            display: none;
        }

        #addTaskH1 {
            width: 500px;
            margin-left: 72px;
            align-self: anchor-center;
        }

        #addTaskForm {
            width: 100%;
            margin: 24px 0;
        }

        .add-task-form-column {
            align-items: center;
        }

        label,
        input,
        textarea,
        .add-task-form-column,
        .addTaskSubtaskList div,
        .subtask {
            width: 100%;
        }

        #addTaskDropdownCategories {
            min-height: 168px;
            overflow-y: scroll;
        }

        #addTaskDropdownCategories::-webkit-scrollbar {
            display: none;
        }

        .add-task-dropdown,
        #addTaskPriorities,
        .subtask-scrollbar {
            width: 396px;
        }

        .subtask-scrollbar {
            height: 90px;
        }

        #subtaskIconAdd {
            left: 177px;
        }

        #subtaskIconsFocus {
            left: 163px;
        }

        .add-task-submit {
            position: relative;
            bottom: 0;
            justify-self: anchor-center;
            max-width: 420px;
            margin: 24px;
            gap: 12px;
        }

        #addTaskSubmitBtns {
            margin-top: 0;
        }
    }

    .edit-task-overlay {
        max-width: 500px;

        #addTaskForm {
            width: 100% !important;
        }

        label,
        input,
        textarea,
        #addTaskH1,
        .add-task-form-column,
        .add-task-dropdown,
        #addTaskAssignedToList,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask {
            width: 372px !important;
        }

        #addTaskDropdownContacts {
            top: 438px !important;
        }

        #addTaskDropdownCategories {
            top: 545px !important;
        }

        .add-task-submit button {
            margin: 0 20px;
        }
    }
}

@media (max-width: 900px) {
    main {
        margin-left: 40px !important;
        margin-right: 40px !important;
        width: 100%;
        margin-bottom: 110px;
    }

    .board-header,
    .board-header h1,
    .task-container {
        padding: 0 !important;
    }

    .board-header {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
    }

    .board-tasks-list {
        margin: 0 !important;
        padding: 0 !important;
    }

    .task-wrapper {
        max-width: 100%;
        overflow-x: visible;
    }

    .board-tasks-list {
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 12px;
    }

    .task-headline {
        flex-direction: row;
        width: 100%;
    }

    .task-headline .icon-container {
        min-width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-card {
        min-width: 250px;
    }

    .input-container {
        width: 100% !important;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        gap: 12px;
    }

    .search-container {
        width: 396px;
        padding: 6px;
        margin-top: 22px;
    }

    .input-container .button {
        position: relative;
        top: -70px;
    }

    .search-container input {
        width: 100%;
        font-size: 16px;
        padding: 8px;
    }

    #overviewOverlay {
        width: 90vw;
        max-height: 95vh;
        padding: 16px;
    }

    #noResultSearchInput {
        margin-left: 0;
        bottom: 50%;
    }

}

@media (max-width: 767px) {
    main {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .task-card {
        width: 100%;
        max-width: 400px;
        margin: 0;
    }

    #editTaskOverlay,
    #overviewOverlay {
        width: 85%;
    }

    .input-container .button {
        top: -70px !important;
        right: 10px !important;
    }

    #noResultSearchInput {
        transform: scale(1.1);
        bottom: 70% !important;
    }
}

@media (max-width: 660px) {
    #addTaskOverlay {
        width: 500px;

        #addTaskH1 {
            width: 400px;
        }

        #addTaskForm {
            width: 400px;
            margin: 24px 40px 0 40px;
        }

        .add-task-dropdown {
            width: 352px;
        }
        
        #subtaskIconAdd {
            left: 157px;
        }

        #subtaskIconsFocus {
            left: 143px;
        }

        .add-task-submit {
            margin: 24px 40px 24px 40px
        }

        .board-header h1 {
            margin-left: -162px;
        }
    }
}

@media (max-width: 600px) {
    .edit-task-overlay {
        max-width: 400px;
        padding: 36px 20px !important;

        #addTaskForm {
            width: 100% !important;
        }

        .title {
            padding: 0 !important;
        }

        label,
        input,
        textarea,
        .add-task-form-column,
        .add-task-dropdown,
        #addTaskAssignedToList,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask {
            width: 312px !important;
        }

        .subtask {
            white-space: break-spaces;
        }

        .add-task-submit {
            margin: 0 !important;
        }

        .add-task-submit button {
            margin: 0 10px;
        }
    }
}

@media (max-width: 530px) {
    #addTaskOverlay {
        width: 400px;

        #addTaskH1 {
            width: auto;
            margin: 30px 40px 0 40px;
            justify-content: space-between;
        }

        #addTaskForm {
            width: 310px;
        }

        label,
        input,
        textarea,
        .add-task-form-column,
        .add-task-dropdown,
        #addTaskAssignedToList,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask,
        #addTaskSubmit {
            width: 300px;
        }

        #subtaskIconAdd {
            left: 127px;
        }

        #subtaskIconsFocus {
            left: 113px;
        }

        #addTaskSubmit .submit-btns button{
            transform: scale(0.9);
        }
    }
}

@media (max-width: 500px) {
    .edit-task-overlay {
        max-width: 300px;
        padding: 16px 8px !important;

        #addTaskForm {
            width: 100% !important;
            padding: 0 10px;
            gap: 0;
        }

        .title {
            padding: 0 !important;
        }

        label,
        input,
        textarea,
        #addTaskH1,
        .add-task-form-column,
        .add-task-dropdown,
        #addTaskAssignedToList,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask {
            width: 250px !important;
        }

        #addTaskPriorities div {
            padding: 4px 2px !important;
            gap: 2px;
        }

        .subtask {
            white-space: break-spaces;
        }

        .add-task-submit {
            margin: 0 !important;
        }

        .add-task-submit button {
            margin: 0 10px;
        }
    }
}


@media (max-width: 480px) {

    .board-header {
        flex-direction: column;
        align-items: center;
    }

    .input-container .button {
        margin-top: 30px;
        padding: 8px
    }

    .task-card {
        width: 90%;
        font-size: 14px;
        padding: 8px;
    }

    .task-badge {
        font-size: 12px;
    }

    .task-description {
        font-size: 12px;
        -webkit-line-clamp: 1;
    }

    .assigned-contacts-and-priority img {
        width: 14px;
        height: 14px;
    }

    .task-wrapper {
        padding: 8px;
        gap: 8px;
    }

    .board-tasks-list {
        gap: 8px;
        flex-wrap: wrap;
    }

    .search-container {
        width: 95%;
        height: 36px;
    }

    .search-container input {
        font-size: 14px;
        padding: 6px;
    }

    #editTaskOverlay,
    #overviewOverlay {
        width: 95% !important;
        height: 95%;
        top: 5%;
    }

    #addTaskForm {
        width: 95%;
    }

    #overviewOverlay {
        height: fit-content;
    }

    .overview-task-badge {
        height: fit-content;
        font-size: 16px;
    }

    #overviewOverlay h1 {
        font-size: 28px;

    }

    .overview-info,
    .overview-task-description {
        font-size: 14px;
    }

    p {
        font-size: 14px !important;
    }

    .overview-contact-assigned,
    .overview-subtasks-assigned {
        margin-left: 0 !important;
    }

    #addTaskOverlay {
        height: 600px;
        width: 300px;

        #addTaskH1 {
            margin: 20px 20px 0 20px;
        }

        #addTaskForm {
            width: auto;
            margin: 20px 20px 0 20px;
        }

        label,
        input,
        textarea,
        .add-task-form-column,
        .add-task-dropdown,
        #addTaskAssignedToList,
        #addTaskPriorities,
        .subtask-scrollbar,
        .addTaskSubtaskList div,
        .subtask,
        .add-task-submit {
            width: 240px;
        }

        #addTaskPriorities {
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }

        #addTaskPriorities div {
            height: auto;
            padding: 12px 8px;
        }

        #subtaskIconAdd {
            left: 100px;
        }

        #subtaskIconsFocus {
            left: 86px;
        }

        .subtask-edit {
            padding: 4px 0 4px 4px;
        }

        .add-task-submit {
            justify-self: anchor-center;
        }

        .add-task-requirements {
            margin-left: 16px;
        }

        #addTaskSubmitBtns {
            gap: -8px;
        }

        #addTaskSubmit .submit-btns button{
            transform: scale(0.8);
        }
    }
}

@media (max-width: 400px) {
    .input-container .button {
        margin-top: 25px !important;
    }

    #noResultSearchInput {
        transform: scale(1);
        bottom: 70% !important;
    }

    #editTaskOverlay {
        width: 95%;
        max-width: 350px;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
        padding: 16px;
    }

    #editTaskOverlay #addTaskForm,
    #editTaskOverlay .add-task-submit {
        margin-left: 0;
        margin-right: 0;
    }

    #editTaskOverlay h1 {
        font-size: 24px;
        text-align: center;
    }

    #editTaskOverlay input,
    #editTaskOverlay select,
    #editTaskOverlay textarea {
        width: 100%;
        font-size: 14px;
        padding: 8px;
    }

    #editTaskOverlay .submit-btns {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 8px;
    }

    .submit-btns button {
        width: 100%;
        font-size: 14px;
        padding: 12px;
    }
}