.header {
  justify-content: start;
  position: fixed;
  top: 0;
  width: 100%;
  height: 96px;
  padding: 20px 40px 20px 348px;
  background: var(--clr-white);
  box-shadow: var(--shadow-barrasuperior);
}

.header-new {
  max-width: 1920px;
  width: 100%;
  position: relative;
  .header-logo {
    display: none;
    width: 32px;
    height: 39px;
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
  }
  .header-text {
    font-size: var(--fs-20);
    text-align: left;
    text-decoration-skip-ink: none;
  }
}

.header-logo {
  display: none;
  width: 32px;
  height: 39px;
  animation-timing-function: ease-in-out;
  animation-duration: 100ms;
}

.header-img-container {
  width: fit-content;
  max-width: 104px;
  height: fit-content;
  max-height: 56px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  .help {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    .help-img {
      width: 20px;
      height: 20px;
    }
  }
}

.user-initial-new {
  width: 56px;
  height: 56px;
  border: 3px solid var(--clr-primary);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  color: var(--clr-lightBlue);
  font-weight: var(--fw-700);
}

.user-initial-new:hover {
  background: linear-gradient(0deg, rgba(12, 46, 98, 0.12), rgba(12, 46, 98, 0.12));
}

.help-new {
  width: 26px;
  height: 26px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 3px solid var(--clr-lightGray);
  text-decoration: none;
  color: var(--clr-lightGray);
  &:hover {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.user-initial-new {
  width: 56px;
  height: 56px;
  border: 3px solid var(--clr-primary);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  color: var(--clr-lightBlue);
  font-weight: var(--fw-700);
  &:hover {
    background: linear-gradient(0deg, rgba(12, 46, 98, 0.12), rgba(12, 46, 98, 0.12));
  }
} 

.submenu {
  width: fit-content;
  max-width: 150px;
  height: fit-content;
  position: absolute;
  top: 96px;
  right: 20px;
  padding: 20px 20px 5px 20px;
  border-radius: 20px 0px 20px 20px;
  background: var(--clr-primary);
  box-shadow: var(--shadow-barrasuperior);
  color: var(--clr-lightGray);
  z-index: 2;
  p {
    margin-bottom: 15px;
    a {
      color: var(--clr-lightGray);
      text-decoration: none;
      transition: color 0.2s ease;
      &:hover {
        color: var(--clr-lighterGray);
      }
    }
  }
}

@media (max-width: 900px) {
  .header-new {
    height: 80px;
    padding: 20px 32px;
  }
  .header-logo {
    display: block;
  }
  .header-text {
    display: none;
  }
  .help-new {
    display: none;
  }
  .submenu {
    top: 80px;
  }
}

.privacy-legal-header {
  .header-logo, .help-new, .header-img-container, .user-initial-new {
    display: none;
  }
  @media (max-width: 900px) {
    .header-text {
      display: block;
    } 
  }
}

.help-header {
  .header-logo, .help-new, .header-img-container {
    display: none;
  }
}
