header {
  height: fit-content;
  max-height: 96px;
  max-width: 1440px;
  padding: 20px 40px 20px 348px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #0000001A;
  p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* text-underline-position: from-font;*/
    text-decoration-skip-ink: none;
  }
}

.header-img-container {
  width: fit-content;
  max-width: 104px;
  height: fit-content;
  max-height: 56px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  .help {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    .help-img {
      width: 20px;
      height: 20px;
    }
  }
}

.user-initial {
  width: fit-content;
  max-width: 56px;
  height: fit-content;
  max-height: 56px;
  gap: 16px;
}

.kreis {
  width: 56px;
  height: 56px;
  border: 3px solid #2A3647;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.submenu {
  width: 150px;
  height: 204px;
  position: absolute;
  top: 100px;
  right: 70px;
  padding: 20px;
  border-radius: 20px 0px 20px 20px;
  opacity: 0px;
  background: #2A3647;
  box-shadow: 0px 0px 4px 0px #0000001A;
  color: #a8a8a8;
  p {
    margin-bottom: 10px;
  }
}

/* header variation 2, umgesetzt in index.html*/
.header-new {
  height: fit-content;
  max-height: 96px;
  max-width: 1440px;
  padding: 20px 40px 20px 348px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #0000001A;
  p {
    font-size: 1.25rem;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
  }
}

.user-initial-new {
  width: 56px;
  height: 56px;
  border: 3px solid #2A3647;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  color: #29ABE2;
  font-weight: 700;
}
.help-new {
  width: 26px;
  height: 26px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 3px solid #a8a8a8;
  a{
    text-decoration: none;
    color: #a8a8a8;
  }
}