.header-img-container flex {
  display: none;
}

.headline-container {
  justify-content: space-between;
  padding: 90px 90px 30px;

  h1 {
    font-size: 3.7rem;
  }
}

.main-wrapper {
  flex-direction: column;
  gap: 16px;
  padding: 90px;
}

p {
  margin-bottom: 16px;
}