.summary-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.summary-title h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.seperator {
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
}

.summary-title p {
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}

.summary-content {
    display: flex;
}

.summary-container {
    height: 168px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-overview {
    height: 562px;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-number {
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
}

.to-dos {
    display: flex;
    justify-content: space-between;
}

.to-dos div {
    width: 264px;
    gap: 18px;
}

.to-dos div p {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.deadline {
    width: 560px;
}

.tasks {
    display: flex;
    justify-content: space-between;
}

.tasks div {
    width: 168px;
}

.summary-greeting {
    height: 136px;
    width: 385px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#greetingDaytime {
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
    color: #2A3647;
}

#userName {
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    color: #29ABE2;
}